/*
* @Author: gavin
* @Date:   2019-01-15 04:15:36
* @Last Modified by:   gavin
* @Last Modified time: 2019-01-18 10:44:08
*/
a{
	text-decoration: none;
}
b{
	 margin-right: 35px;
  line-height: 1.5;
}
pre{
	color: #999!important;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	overflow: auto;
	white-space:pre-line;
	margin:1px;
	margin-left: 35px;
}

.info{
	background-color: lightyellow;
	margin: 15px;
	white-space:pre-line;
	padding: 15px;
}

.padding-32 {
    padding: 32px!important;
}
.min_height{
	min-height: 120px;
}
.text_content{
	color: #000!important;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
  margin:1px;
}
.text_title{
	color: #FFF!important;
	background-color: #000;
	font-family: "Montserrat", sans-serif;
	font-size: 25px;
  line-height: 1.5;
}
.graypic{
	filter: grayscale(100%) opacity(30%);
}
